.left {
  float: left;
  text-align: center;
	width: 250px;
  }
.right {
  float: left;
  text-align: center;
	width: 250px;
  }
.bold {
  font-weight: bold;
}
p {
  margin: 0px;
}
.l1, .l3, .l5, .r2, .r4{
  font-family: 'Indie Flower', cursive;
	font-size: 20px;
  }
.l2, .l4, .r1, .r3, .r5{
  font-family: 'Kanit', sans-serif;
	font-size: 20px;
 }
.l1{
  background: #3366ff;
  height: 202px;
  padding-top: 48px;
  }
.l2{
  background: #ff80df;
  height: 180px;
  padding-top: 70px;
 }
.l3{
  background: #cc33ff;
  height: 202px;
  padding-top: 48px;
}
.l4{
  background: #ffffb3;
  height: 190px;
  padding-top: 60px;
}
.l5{
  background: #ffcc80;
  height: 170px;
  padding-top: 80px;
}
.r1{
  background: #b3e6ff;
  height: 202px;
  padding-top: 48px;
}
.r2{
  background: #ff4da6;
  height: 202px;
  padding-top: 48px;
}
.r3{
  background: #bf80ff;
  height: 202px;
  padding-top: 48px;
}
.r4{
  background: #ffff00;
  height: 202px;
  padding-top: 48px;
}
.r5{
  background: #ff944d;
  height: 170px;
  padding-top: 80px;
}
